h1 {
	font-size: 48px;	
}
.post-heading {
	color: #006633;
	font-size: 1.8em;
	float:center;
}
#main-nav	{
	font-size: 1.3em;
	a:hover,
	a:focus, 
	a:active { color: #ffcc00; text-decoration: underline; } 
a:visited, 
a:link { color: #006633; text-decoration: none; font-weight: bold;  }
	
	
}
blockquote	{
	font-family:italic;
}
article p{
	text-align:justify;
	text-indent: 25px;
}
blockquote{
	font-family:italic;
	}
.hero-image{
	float:left;
	width: 640px;
}
.article-thumbs{
	float:center;
	
}


.article-thumbs img{
	 
	width: 200px;
}
