
.post-heading {
	color: #006633;
	font-size: 1.8em;
	margin-bottom: 0px;	
}
#main-nav	{
	font-size: 1.3em;	
}
blockquote	{
	color: #33ccff;
	font-size: 1.3em;
}

/**/

h1{
		font-size: 60px;
		 text-align:center;
		 text-decoration: underline;
		 font-style: italic;
		 color: aqua;
		 padding: right-left: 20%;
		 width: 1200px;
		 }
		  
		 h2{
		 font-size: 2em;
		 text-align:center;
		 color:black ;
		 }
		 h3 {
		 font-size: 40px;
		 color: green;
		 padding-bottom: 0px;
		 padding-top:0px
		 
		 }
		 ol 
		 {
		 font-style: serif;
		 color: purple;
		 }
		 h4{
		 font-size: 30px;
		 color: orange;
		 }
		
		 #main-nav a: hover,
		 a:focus,
		 a: visited{
		 text-decoration: none;
		 padding-left: 20%;
		
		 }
		  p{
			font-size:20px;
			width:1200px;
			}
		.main-purpose{
			font-size:20px;
			width:1200px;
			padding: 30px 20px;
			
		}
		.pic-poo{
		/* margin-left: 10px;*/
		 
		 }
		 .specifics: {
		
		 padding: 10% 20% ;
		 
		 width: 500px;
		 }
		 blockquote{
		 float:center;
		 font-size: 250%;
		 background-color: pink;
		 width: 500px;
		}
		.pic-poo img{
		 width: 200px;
		/* border-radius: 50%;*/
		 float:right;
		 
		}
		body img{
		 width: 200px;
		 border-radius: 50%;
		 float:right;
		 margin-bottom: 100px;
		 
		 
		}