
h1 {
	font-size: 48px;	
}

.post-heading {
	color: #006633;
	font-size: 1.8em;
	margin-bottom: 0px;	
}
#main-nav	{
	font-size: 1.3em;	
}
blockquote	{
	color: #33ccff;
	font-size: 1.3em;
}