
	/*.post-heading {
		color: #006633;
		font-size: 1.8em;
	margin-bottom: 0px;	}
	*/
	main{
		background-image:url(../img/pipes.png);
		
		background-color: green;
		
	}
	
	#main-nav	{
		font-size: 1.3em;
		
	}
	blockquote	{
		color: black;
		font-size: .5em;
		width: 300px;
	}
	h1{
	font-size: 60px;
	text-align:center;
	text-decoration: underline;
	font-style: italic;
	color: aqua;
	padding: 0px 5px 5px 5px;
	width: 1000px;
	position: absolute;
	
	background: black;
			 
	}
			  
	h2{
	font-size: 50px;
	text-align:left;
	color:black ;
	margin-top: 2%;
	}
	h3 {
	font-size: 40px;
	color: green;
	padding-bottom: 0px;
	padding-top:0px
	}
	
	ul 
	{
	font-style: serif;
	column-count: 1;
	}

	/*Create styling for the products unordered list*/
	.products {		
	color: purple;
	list-style-type:disc;
	column-count: 2;
	margin:10px 10px 10px 10px;
	}
			 
	h4{
	font-size: 30px;
	color: orange;
	}
	
	#main-nav  a:hover, #main-nav a:focus, #main-nav a:active {
	text-decoration: underline;
	font-size: 40px;
	}
	
	#main-nav ul li{
		float: left;
		margin-top: 10%;
		margin-left: 5%;
		display: inline;
		padding: 5px;
	}
	
	#main-nav a:visited
	{	
	text-decoration: underline;
	padding-left: 20%;
	}
	
	p{
	font-size:20px;
	width:1200px;
	}
	.main-purpose{
	font-size:20px;
	width:100%;
	padding: 30px 20px;
	}
	.columns{
	column-count: 3;
	column-width: 100px;
	column-rule: 1px solid red;
	column-gap: 20px;
			 
	}
	.specifics{
	padding:5px 5px;
	width: 1000px;
	margin: 0px;
	column-count: 3;
	column-width: 100px;
	column-rule: 1px solid red;
	column-gap: 20px;
	
	
	
	}
	blockquote{
	float:center;
	font-size: 50px;
	padding-top:10px;
	width: 500px;
	position:100%;
	}
	.pic-poo img{
	width: 200px;
	/* border-radius: 50%;*/
	float:right;
	}
	body img{
	width: 150px;
	border-radius: 50%;
	float:right;
	margin-right: 500px;
	
	}
	footer{
		background-color: yellow;
		
	}
	/* mobile phones, laptops and ipads */
	@media screen and (max-width: 1000px){ 
		#main-nav   {
		
		font-size: .8em;
		} 
	}
	@media screen and (max-width: 600px){ 
		#main-nav   {
		font-size: .5em;
		
		} 
	}
	@media screen and (max-width: 400px){ 
		#main-nav   {
		font-size: .4em;
		
		} 
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	